<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="css/element-ui.css">
</head>
<body>
<div id="app">
    <el-card>
        <a href="/special-index-daily">特色指标</a>
    </el-card>
</div>
</body>
<script src="js/vue.js"></script>
<!-- 引入组件库 -->
<script src="js/element-ui.js"></script>
<script src="js/axios.min.js"></script>
<script>
    new Vue({
      el: '#app',
      data: function() {
        return {

        }
      }
    })



</script>
</html>